.slide_container {
  width: 100%;
  height: 474px;
  margin-bottom: 60px;
  z-index: 1;
}

.slide_container div {
  width: 100%;
  height: 474px;
}

.slide_container div img {
  width: 100%;
  height: 474px;

  z-index: 1;
}

.slick-dots {
  top: 435px;
}
